*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

header{
    max-width: 500px;
    margin: 20px auto 0px auto;
    padding: 10px;
    color: black;
    background-image: linear-gradient(to bottom, darkgray, white);
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

main{
    max-width: 500px;
    background-color: white;
    margin: 0px auto;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

h1{
    padding-bottom: 5px;
}

#outResp1, #outResp2, #outResp3{
    font: italic bold 1em serif;
}

img{
    margin: 0px 100px;
    padding: 10px;
}

form p{
   padding: 5px 0px;
}

.butao{
    padding: 3px;
    
}

